/admin/
/users/
/schedule/
/main/
/updates/
/compiled/
/proprietary/
get_proprietary_files.cmd
filename.txt
compile.cfm
create_hermes_update.bat
rename_compiled_files.ps1
sync_files.ffs_batch
sync_files_github_only.ffs_batch
syncfiles.log
syncfiles.bat
/synclogs/
dos2unix.exe
*.ffs_lock
