/admin/
/users/
/schedule/
/main/
/updates/
/compiled/
/proprietary/
get_proprietary_files.cmd
filename.txt
compile.cfm
*.bat
create_hermes_update_readme.txt
rename_compiled_files.ps1
syncfiles.log
/synclogs/
dos2unix.exe
*.ffs_batch
*.OLD
*.ffs_db
ubuntu_hermes_install.BACKUP
ubuntu_hermes_install.sh
