<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config [
<!ENTITY proxyName "">
]>
<!--
  Tomcat configuration file for CipherMail.
 -->
<Server>
    <Service name="Catalina">

        <!-- 
           Configure HTTPS connector.
        -->
        <Connector
            port="8443"
            connectionTimeout="20000"
            maxThreads="150"
            scheme="https"
            secure="true"
            SSLEnabled="true"
            sslProtocol="TLS"
            sslEnabledProtocols="TLSv1.2"
            keystoreFile="/usr/share/djigzo-web/ssl/sslCertificate.p12"
            keystorePass="djigzo"
            keystoreType="PKCS12"
            proxyName="&proxyName;"
        />
    
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true"/> 
        </Engine>
    </Service>
</Server>
