[Unit]
Description=Install Ciphermail

[Service]
Type=oneshot
ExecStart=/bin/bash /install-ciphermail.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target

