/* Text */
BODY {
	background-repeat : repeat-x;
	font-family : Arial;
	font-size : 14px;
	color : rgb(51,51,51);
	background-color : rgb(192,192,192)}

.nof_BroadcastBlueBanners1-Default {
font-family:Georgia; font-size:24pt; color:rgb(255,255,254) 
}

.nof_BroadcastBlueNavbar4-Regular {
font-family:Verdana; font-size:10pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar5-Rollover {
font-family:Verdana; font-size:10pt; color:rgb(255,255,255) 
}

.nof_BroadcastBlueNavbar6-Highlighted {
font-family:Verdana; font-size:10pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar7-HighlightedRollover {
font-family:Verdana; font-size:10pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar9-Regular {
font-family:verdana; font-size:8pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar10-Rollover {
font-family:verdana; font-size:8pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar11-Highlighted {
font-family:verdana; font-size:8pt; color:rgb(51,51,51) 
}

.nof_BroadcastBlueNavbar12-HighlightedRollover {
font-family:verdana; font-size:8pt; color:rgb(51,51,51) 
}


P {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)}

.TextObject {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)
}

.TextNavBar {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px;
	color : #000000
}

A:link {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}

A:visited {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}

A:active {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}

H1 {
	font-family: Georgia,     Palatino,     "Times New Roman",     Times,     Serif
}

H2 {
	font-family: Georgia,     Palatino,     "Times New Roman",     Times,     Serif;
	font-weight : lighter
}

H3 {
	font-family: Georgia;
	font-weight : lighter
}



UL {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}

OL {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}.ui-accordion{
	border: 1px solid #3B5998 !important;
	border-top: none !important
}
 .ui-accordion a {
	border: none !important
}
div.ui-accordion.selected a.head.selected     {
	background-image: url( "./AccordionTabOpen.png" ) !important;
	color: #f2f2f2 !important
}
.ui-accordion a.head {
	background-image: url( "./AccordionTabClosed.png" ) !important;
	background-color: #ffffff !important;
	border: none !important;
	font-size: 11px !important;
	color: #f2f2f2 !important;
	font-weight: normal !important;
	text-indent: 25px !important;
	height: 30px !important;
	line-height: 30px !important
}
.ui-accordion .ui-accordion-panel a {
	display: inline !important
}

/* Tabs */
.ui-tabs-panel {
	border: 1px solid #3B5998 !important;
	padding: 5px !important
}
.ui-tabs-nav a {
	background-image: url( "./tab_top.png" ) !important;
	font-weight: normal !important;
	color: #f2f2f2 !important;
	font-size: 11px !important;
	line-height: 22px !important
}
.ui-tabs-nav .ui-tabs-selected a {
	color: #f2f2f2 !important
}
.ui-tabs-nav a span     {
	background-image: url( "./tab_top.png" ) !important;
	max-height: 50px;
	height: 22px !important
}

div.TogglePaneFancyHeader {
	font-family: inherit !important;
	font-size: 11px !important;
	font-weight: normal !important;
	line-height: 30px;
	height: 30px !important;
	padding: 0px !important;
	text-indent: 25px;
	cursor: pointer;
	border: 1px solid #3B5998 !important;
	border-width: 0px 0px !important;
	background-color: transparent !important;
	background-image: url( "./TogglePaneOpen.png" ) !important;
	background-position: 0% 0% !important;
	color: #f2f2f2 !important
}
div.TogglePaneFancyHeaderClosed {
	background-color: transparent !important;
	background-image: url( "./TogglePaneClosed.png" ) !important;
	background-position: 0% 0% !important;
	color: #f2f2f2 !important
}
div.TogglePanePlainContent {
	border: 1px solid #3B5998 !important;
	border-top: none !important
}


.nof_BroadcastBlueNavbar25-Regular {
	font-family: Verdana;
	font-size : 10px;
	width : 101px;
	height : 21px;
	background-color : rgb(240,243,246);
	text-align : center
}

.nof_BroadcastBlueNavbar25-Rollover {
	font-family: Verdana;
	font-size : 10px;
	width : 101px;
	height : 21px;
	background-color : rgb(225,225,225);
	text-align : center
}

.nof_BroadcastBlueNavbar25-Highlighted {
	font-family: Verdana;
	font-size : 10px;
	width : 101px;
	height : 21px;
	background-color : rgb(225,225,225);
	text-align : center
}

.nof_BroadcastBlueNavbar25-HighlightedRollover {
	font-family: Verdana;
	font-size : 10px;
	width : 101px;
	height : 21px;
	background-color : rgb(240,243,246);
	text-align : center
}A:hover {
	font-family: Arial,     Helvetica,     Geneva,     Sans-serif;
	font-size : 14px
}

/* Accordion */
.ui-tabs-nav a:hover span{
	background-position: 0 -50px !important
}
.ui-tabs-nav a:hover{
	background-position: 100% -150px !important;
	color: #f2f2f2 !important
}

/* Toggle Pane */
